extends core

block layout
  .container
    div.masthead
      a(href='/')
        h3.muted Connectivity Check


    include parts/oldie
  block content

  .container
    footer.footer
      span.right Authors &nbsp;
        a(href='https://twitter.com/thanpolas', rel='external') @thanpolas
        &nbsp;&amp;&nbsp;
        a(href='https://twitter.com/smas', rel='external') @smas
